[Unit]
Description=code-server
After=network.target

[Service]
Type=exec
{# IDEA: specify Environment=PATH=/usr/local/texlive/... here?
   https://coder.com/docs/code-server/latest/FAQ#how-do-i-change-the-port
   ~~since adding LaTeX workshop extension, I get in the log:~~
   ~~error exthost /bin/sh: 1: pdflatex: not found~~
   Strike that, not seeing anything like this in the log any longer #}
{# note: command-line flags take precedence over settings in config.yaml #}
ExecStart={{codeserver.path.bin }} --bind-addr {{ codeserver.netip }}:{{ codeserver.netport }} --auth {{ codeserver.auth }} --disable-telemetry
Restart=always
User=%i

[Install]
WantedBy=default.target
