[Desktop Entry]
Name=VSCodium server
Type=Application
Exec=/usr/bin/google-chrome --new-window --app="https://{{ codeserver.domain }}"
GenericName={{ codeserver.domain }}
Comment=VSCodium in the browser
Categories=Network;WebDevelopment;
Keywords=vscode server;codeserver;webapp;codium;
StartupWMClass=chrome-app-codeserver
Icon={{ desktop_icon.dest }}
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
