{# https://github.com/coder/code-server/issues/282 #}
<VirtualHost *:80>
   ServerAdmin {{ codeserver.email }}
   ServerName {{ codeserver.domain }}

   Redirect permanent / https://{{ codeserver.domain }}/

   ErrorLog ${APACHE_LOG_DIR}/{{ codeserver.domain }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ codeserver.domain }}_access.log combined
</VirtualHost>

<VirtualHost *:443>
   ServerAdmin {{ codeserver.email }}
   ServerName {{ codeserver.domain }}

   # https://www.happyassassin.net/posts/2018/11/23/reverse-proxying-websockets-with-apache-a-generic-approach-that-works-even-with-firefox/
   RewriteEngine on
   RewriteCond %{HTTP:Upgrade} websocket [NC]
   RewriteCond %{HTTP:Connection} upgrade [NC]
   RewriteRule .* "ws://{{ codeserver.netip }}:{{ codeserver.netport }}%{REQUEST_URI}" [P]
   ProxyPass / http://{{ codeserver.netip }}:{{ codeserver.netport }}/
   ProxyPassReverse / http://{{ codeserver.netip }}:{{ codeserver.netport }}/
   ProxyRequests off

   SSLEngine on
   SSLCertificateKeyFile   /etc/letsencrypt/live/{{ codeserver.domain }}/privkey.pem
   SSLCertificateFile      /etc/letsencrypt/live/{{ codeserver.domain }}/cert.pem
   SSLCertificateChainFile /etc/letsencrypt/live/{{ codeserver.domain }}/chain.pem

   # Keycloak authentication
   OIDCProviderMetadataURL https://{{ hostinfo.muscat.keycloak }}/realms/{{ codeserver_kc_realm }}/.well-known/openid-configuration
   OIDCClientID {{ vhost_clientid }}
   OIDCClientSecret {{ vhost_clientsecret }}
   OIDCCryptoPassphrase {{ vhost_oidccrypto }}
   OIDCRedirectURI https://{{ codeserver.domain }}/oauth2callback
   <Location />
      AuthType openid-connect
      Require valid-user
      # LogLevel debug
   </Location>

   ErrorLog ${APACHE_LOG_DIR}/{{ codeserver.domain }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ codeserver.domain }}_access.log combined
</VirtualHost>
